            
    <div class="hero has-text-centered"> 
        <div class="hero-head title"> 
            <h2> Edit Routine </h2> 
        </div>

        <div class="box mx-6 has-text-centered">
            <form action="/routines/<%= @routine.id %>" method="POST"> 

                <input type="hidden" id="hidden" name="_method" value="patch"> 

            <div class="field">     
                <label class="label" for="name">Name</label> 
                  <div class="control">
                    <input class="input" style="width: 33%;" type="text" name="routine[name]" id="name" value="<%= @routine.name %>">
                  </div> 
            </div> 

            <div class="field"> 
                <label class="label" for="why">Reason</label>
                  <div class="control">  
                    <input class="input" style="width: 33%;" type="text" name="routine[why]" id="why" value="<%= @routine.why %>">
                  </div> 
            </div> 

            <div class="field"> 
                <label class="label" for="duration">How long</label> 
                  <div class="control"> 
                    <input class="input" style="width: 33%;" type="text" name="routine[duration]" id="duration" value="<%= @routine.duration %>">
                  </div> 
            </div> 

                <input class="button is-success is-outlined" type="submit" value="Confirm Changes"> 

            </form>
            <br>
            <form action="/routines/<%= @routine.id %>" method="POST">
                 <input type="hidden" id="hidden" name="_method" value="delete"> 
                <input class="button is-danger is-outlined" type="submit" value="delete"> 
            </form> 

        </div> 
            
    </div>