            
<div class="hero has-text-centered">           
        <div class="hero-head title">
            <h1><%= @routine.name %></h1><br>
        </div> 

        <div class="container"> 
            <h4 class="has-text-weight-bold">Your reason</h4>
                <p class="has-text-weight-normal"><%= @routine.why %></p>
            <br>
            <h4 class="has-text-weight-bold">Your time commitment</h4>
                <p class="has-text-weight-normal"><%= @routine.duration %></p>
            <br>
            <hr style="height:1px;border:none;color:#333;background-color:#333;length:60%;" /> 

            <h3 class="title is-4">Habits</h3> 

            <% @routine.habits.each do |h| %> 
                <ul> 
                <li><a class="button is-success is-outlined" href="/habits/<%= h.id %>"><%= h.name %></a></li>
                </ul> 
                <br>
            <% end %>
            

            <form action="/habits/new" method="GET">
                <% session[:routine_id] = @routine.id %> 
                <input class="button is-ghost" type="submit" value="Add Habit"> 
            </form>

            <form action="/routines/<%= @routine.id %>/edit" method="GET"> 
                <input class="button is-ghost" type="submit" value="Edit Routine">
            </form>
           
        </div> 

</div>           