<!DOCTYPE html> 
<html> 
  <head>
    <link rel="icon" href="public/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- ↑ BULMA REQUIREMENT : this line makes the site RESPONSIVE -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
      <!-- ↑ BULMA : Predesigned external CSS : 'free, open source CSS framework based on Flexbox..' "https://github.com/jgthms/bulma/blob/master/css/bulma.css"-->
      </head>

<% if current_user %>
  <body class="has-navbar-fixed-top"> 
    <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation"> 
      <div class="navbar-menu is-active"> 
        <div class="navbar-start"> 
          <a class="navbar-item" href="/users/<%= current_user.id %>">Home</a> 
          <a class="navbar-item" href="/goals">Goals</a>
          <a class="navbar-item" href="/routines">Routines</a> 
          <a class="navbar-item" href="/habits">Habits</a>
        </div> 
        <div class="navbar-end"> 
          <a class="navbar-item" href="/guide">Guide</a> 
       </div> 
    </nav>
<% else %> 
  <% nil %> 
<% end %> 

    <% if flash[:invalid_login] %> 
        <h2><%= flash[:invalid_login] %></h2> 
      <% end %> 
      
      <% if flash[:error] %>
        <h2 style="color: red;"><%= flash[:error] %></h2> 
      <% end %> 

      <% if flash[:message] %> 
        <h2><%= flash[:message] %></h2> 
      <% end %>  

      <div class="hero is-fullheight has-background-grey-lighter">
        <div class="section has-text-centered">
          <div class="box has-text-centered has-background-white-bis has-text-weight-bold">
            <%= yield %> 
          </div>
        </div>
      </div>

      <div class="hero-foot"> 
        <footer class="branding">
          <small>&copy; 2020 <strong>LifeRoute</strong></small>
        </footer>
      </div>
    </div>
  </body>

</html> 

