
<div class="hero has-text-centered">
  <div class="hero-head title">             
    <h2>Edit</h2> 
  </div>

  <div class="box mx-6 has-text-centered">
    <form method="POST" action="/habits/<%= @habit.id %>"> 
        <input type="hidden" id="hidden" name="_method" value="patch"> 
    

    <div class="field"> 
        <label class="label" for="name">Name</label> 
          <div class="control">
            <input class="input" style="width: 33%;" type="text" name="habit[name]" value="<%= @habit.name %>">
          </div> 
    </div>
    
    <div class="field"> 
        <label class="label" for="why">Reason</label> 
          <div class="control">
            <input class="input" style="width: 33%;" type="text" name="habit[why]" value="<%= @habit.why %>">
          </div> 
    </div>

    <div class="field">
        <label class="label" for="when">When: </label> 
          <div class="control"> 
            <input class="input" style="width: 33%;" type="text" name="habit[when]" value="<%= @habit.when %>">
          </div> 
    </div> 

    <div class="field"> 
        <label class="label" for="where">Where: </label> 
          <div class="control"> 
            <input class="input" style="width: 33%;" type="text" name="habit[where]" value="<%= @habit.where %>">
          </div> 
    </div>

    <div class="field">
        <label class="label" for="duration">How long: </label> 
          <div class="control"> 
            <input class="input" style="width: 33%;" type="text" name="habit[duration]" value="<%= @habit.duration %>">
          </div> 
    </div> 


        <input class="button is-outlined is-success" type="submit" value="Edit Habit"> 

    </form> 
  </div>
</div>


