    <div class="hero has-text-centered">     
        <div class="hero-head title"> 
            <h1><%= @user.name %>'s Habits</h1> 
        </div>
            
        <div class="container has-text-centered"> 
            <% @habits.each do |h| %> 
                <ul> 
                    <li><h4 class="has-text-weight-bold">Habit</h4>
                        <p class="has-text-weight-normal"><%= h.name %></li>
                    <br>
                    <li><h4 class="has-text-weight-bold">Reason</h4>
                        <p class="has-text-weight-normal"><%= h.why %></p></li>
                    <li><h4 class="has-text-weight-bold">When</h4>
                        <p class="has-text-weight-normal"><%= h.when %></li>
                    <li><h4 class="has-text-weight-bold">Where</h4>
                        <p class="has-text-weight-normal"><%= h.where %></p></li> 
                    <li><h4 class="has-text-weight-bold">How long</h4> 
                        <p class="has-text-weight-normal"><%= h.duration %></p></li>
                </ul> 
                <br>
            <form method="GET" action="/habits/<%= h.id %>"> 
                <input class="button is-outlined is-success" type="submit" value="View Habit">   
            </form> 
            
            <br><br>
                <% end %> 
        </div>

            <div class="container has-text-centered">
                <p>Add a habit to a routine!</p> 
            </div>
            <form method="GET" action="/routines">
                    <input class="button is-success" type="submit" value="Add Habit"> 
            </form>
    </div> 
